@import 'variables';

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html {

  font-size: 15px;

  //@media screen and (min-width: 1201px) {
  //
  //}

  @media screen and (max-width: 1200px) {
    font-size: 0.9765625vw;
  }
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: rgba(0,0,0, .5);
  color: white;
}

html, body, .wrap {
  height: 100%;
}

.wrap {
  max-width: 1600px;
  margin: auto;
}

.main {
  display: block;
}